Magic 271485
Revision Verdi_R-2020.12-SP1-1

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1920 451 317 79

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/mnaylor2/ece411/fa24_ece411_Team_Joe/mp_ooo/sim/vcs/dump.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 864006366.073379 864079535.706488
cursor 864039000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 2
; marker line index
markerPos 23

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/mnaylor2/ece411/fa24_ece411_Team_Joe/mp_ooo/sim/vcs/dump.fsdb"
addSignal -h 15 /top_tb/dut/reservation_stations_inst/mem_inst_sent
addSignal -h 15 -holdScope ld_rs[0:7]
addSignal -h 15 -holdScope valid_ld_rs_idx[2:0]
addSignal -h 15 -holdScope ld_rs_next[7]
addSignal -h 15 -holdScope ld_rs[7]
addSignal -h 15 -holdScope mem_rs_data_out
addSignal -expanded -h 15 -holdScope ld_rs[7]
addSignal -h 15 -holdScope ld_rs[7].valid
addSignal -h 15 -holdScope ld_rs[7].ps1[5:0]
addSignal -h 15 -holdScope ld_rs[7].ps1_ready
addSignal -h 15 -holdScope ld_rs[7].ps2[5:0]
addSignal -h 15 -holdScope ld_rs[7].ps2_ready
addSignal -h 15 -holdScope ld_rs[7].pd[5:0]
addSignal -h 15 -holdScope ld_rs[7].rd[4:0]
addSignal -h 15 -holdScope ld_rs[7].rob_idx[3:0]
addSignal -h 15 -holdScope ld_rs[7].inst[31:0]
addSignal -h 15 -holdScope ld_rs[7].aluop[2:0]
addSignal -h 15 -holdScope ld_rs[7].imm[31:0]
addSignal -h 15 -holdScope ld_rs[7].pc[31:0]
addSignal -h 15 -holdScope ld_rs[7].pc_next[31:0]
addSignal -h 15 -holdScope ld_rs[7].rs1_s[4:0]
addSignal -h 15 -holdScope ld_rs[7].rs2_s[4:0]
addSignal -h 15 -holdScope ld_rs[7].store_count[31:0]
addGroup "G2" -e FALSE

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

